@use 'global' as *;

.main {
    margin: 10rem 0 3rem;

    .banner {
        img {
            margin-top: 2rem;
            width: 100px;
            // height: 100px;
            transform: rotate(-90deg);
            animation-name: movimiento, alrededor;
            animation-duration: 1s;
            position: relative;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        @keyframes alrededor {
            from {
                left: -260px;
            }

            to {
                left: 260px;
            }
        }

        @keyframes movimiento {
            0% {
                top: 0
            }

            50% {
                top: 50px
            }

            100% {
                top: 0
            }
        }
    }
}

.blog {
    background-color: #fffbf7;
    max-width: unset;
    padding: 5% 5%;

    button {
        height: auto;
        border-radius: 8px;
        padding: 12px;
        width: 180px;
        margin-bottom: 15px;
    }

    .feature__img {
        img {
            width: 100%;
        }
    }

    .feature__title__anchor {
        text-decoration: none;
        color: inherit;
        font-weight: 500;
        font-size: 24px;

        .feature__title {
            margin-top: 50px;
            font-weight: 400;
            font-size: 24px;
            // font-family: $font-title;
            margin-bottom: 35px;
            text-decoration: none;
            color: #343434;
            transition: color 0.3s ease-in-out,
                font-size 0.5s;

            &:hover {
                color: #67b467;
                font-size: 30px;
            }
        }
    }

    p {
        font-size: 18px;
        color: #4a4a4a;
    }
}