.blog .title {
  font-family: "Oswald", sans-serif;
  color: #135359;
}

/** main.scss */
.blog {
  background-color: #fff;
  max-width: unset;
  padding: 5% 10%;
}
.blog .process-list {
  margin-top: 40px;
  margin-bottom: 36px;
}
.blog .process-list .process {
  margin-bottom: 25px;
}
.blog .process-list .process > div > h3 {
  color: #025157;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 500;
}
.blog .process-list .process > div > p {
  color: #135359;
  margin: 0;
}
.blog .process-list .process .process-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  text-align: center;
}
.blog .process-list .process .process-icon img {
  height: 100%;
}
.blog button {
  height: auto;
  border-radius: 8px;
  padding: 12px;
  width: 180px;
  margin-bottom: 15px;
}
.blog .card h5 {
  font-size: 24px;
  color: #4a4a4a;
}
.blog .metadata {
  font-size: 14px;
}
.blog .category {
  color: #67b54b;
}
.blog .card-text {
  font-size: 18px;
  color: #4a4a4a;
}
.blog .read-more a {
  text-decoration: underline;
  cursor: pointer;
}
.blog .author {
  display: flex;
  align-items: flex-end;
}
.blog .author > * {
  margin-right: 1rem;
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 600;
}
.blog .author img {
  border-radius: 50%;
  border: 1px solid #4a4a4a;
  width: 65px;
}

.try-it {
  text-align: center;
  background-color: #96d178;
  padding: 4rem 0;
}
.try-it h2 {
  color: #025157;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  margin-bottom: 1rem;
}
.try-it form {
  height: 55px;
}
.try-it input {
  margin-right: 0;
  padding: 6px 20px;
  border-radius: 4px;
  border: none;
  height: 100%;
}
.try-it button {
  margin-left: 0;
  padding: 6px 20px;
  border: none;
  border-radius: 4px;
  height: 100%;
}
.try-it p {
  margin-top: 1rem;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5rem;
}

.box-try {
  margin: 2rem;
  padding: 3rem;
  border-radius: 2rem;
  background-color: #135359;
}
.box-try .content-try h3 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: white;
}
.box-try .content-try h4 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: white;
}
.box-try .content-try p {
  color: white;
}
.box-try .content-try span {
  color: #96d178;
  cursor: pointer;
}
.box-try .form-try form {
  height: 55px;
}
.box-try .form-try input {
  margin-right: 0;
  padding: 6px 20px;
  border-radius: 4px;
  border: none;
  height: 100%;
}
.box-try .form-try button {
  margin-left: 0;
  padding: 6px 20px;
  border: none;
  border-radius: 4px;
  height: 100%;
  background-color: #96d178;
}
.box-try .form-try p {
  margin-top: 1rem;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5rem;
}

@media (max-width: 575px) {
  .card {
    margin-top: 2rem;
  }
  .iconitos {
    text-align: center;
  }
  .process-icon {
    position: relative;
    left: 40%;
  }
  .box-try {
    height: 500px;
  }
}
@media (min-width: 575px) {
  .box-try {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  .box-try .form-try {
    position: relative;
    top: 2rem;
  }
}

/*# sourceMappingURL=output.css.map */
