body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Oswald', sans-serif;

}

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color: white;
    background-color: #025157;

}

.header {
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/
    margin: 40px 20px 0;
    font-size: 0;
    height: 45px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.fixed-header>* {
    padding-bottom: 20px;
}

.logo {
    width: 15%
}

.logo>img {
    width: 15%;
}

li {
    display: inline;
    margin: 0 25px;
}

.header>* {
    /*Todo lo que tenga la clase header le va a heredar propiedades*/
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;

}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions>* {
    margin: 0 10px;
}

.actions a {
    color: #67b54b;
    text-decoration: none;
}

.actions button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

.main {
    margin-top: 285px;
    text-align: center;
}


.publish {
    margin-left: 30px;
}

.publish h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish>p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish>form {
    display: flex;
}

.publish>form p {
    color: #025157;
    margin-right: 18px;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.flecha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flecha img {
    width: 120px;
    margin-top: 10px;
}

.features {
    background-color: #025157;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    height: 660px;
    padding: 5% 10%;
}


.feature-card {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.feature-content>* {
    margin-bottom: 1rem;
    margin-top: 0;
}

.feature-content img {
    width: 50px;
    margin-top: 1rem;
}

.feature-content h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #343434;
}

.feature-content a {
    text-decoration: none;
    color: #67b54b;
    font-size: 1.2rem;
    font-weight: 600;
}

.feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}

.feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}

.feature-image figure,
img {
    margin-top: 0;
    height: 100%;
}

.growing-ecommerce {
    display: flex;
    margin: 0 auto 100px;
    align-items: center;
    background-color: #a1d683;
    padding: 5% 10%;
}

.g-info {
    width: 70%;
}

.sliders {
    width: 30%;
}

.g-info h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.g-info p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 2rem;
    padding-right: 2rem;
}

.g-info a {
    color: #fff;
    background-color: #025157;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
}

.sliders {
    background-color: white;
    height: 30rem;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sliders>* {
    width: 70%;
}

.sliders a {
    color: #fff;
    background-color: #025157;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

.sliders p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    color: #025157;
}

.hm-works {
    background-color: #fffbf7;
    text-align: center;
    width: 70%;
    margin: 100px auto;
}

.hm-content h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    color: #025157;
}

.hm-content a {
    color: #fff;
    background-color: #025157;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

.hm-content p {
    font-size: 18px;
    font-weight: 400;
    color: #343434;
    line-height: 1.5;
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;

}

.hm-content span {
    color: #67b54b;
}

.hm-grid {
    display: grid;
    grid-template: 1fr/repeat(4, 1fr);
    padding: 5% 10%;
    column-gap: 3rem;
    margin-top: 70px;
}

.grid-content {
    border: 1px solid black;
    padding: 10% 10%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.grid-content>* {
    margin-bottom: 1rem;
    margin-top: 0;
}

.grid-content img {
    width: 50px;
    margin-top: 1rem;
}

.grid-content h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #025157;
}

.grid-content a {
    text-decoration: none;
    color: #67b54b;
    font-size: 1.2rem;
    font-weight: 600;
}

.grid-content p {
    font-size: 15px;
    color: #7e7e7e;
    font-weight: 400;
}